<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirate and Ship Info</title>
  </head>
  <body>
    <h1>Enter the Pirate and Ship Info Here:</h1>

    <form action="/pirates" method="post">
      <label>Pirate Name: </label><input type="text" name="student[name]">
      <label>Pirate Weight: </label><input type="text" name="student[grade]">

      <label>Course Name: </label><input type="text" name="student[courses][][name]">
      <label>Course Topic: </label><input type="text" name="student[courses][][topic]">
      <label>Course Name: </label><input type="text" name="student[courses][][name]">
      <label>Course Topic: </label><input type="text" name="student[courses][][topic]">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
