<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirate and Ship Info</title>
  </head>
  <body>
    <h1>Enter the Pirate and Ship Info Here:</h1>

    <form action="/pirates" method="post">
      <label>Pirate Name: </label><input type="text" name="pirate[name]"><br>
      <label>Pirate Weight: </label><input type="text" name="pirate[weight]"><br>
      <label>Pirate Height: </label><input type="text" name="pirate[height]"><br>
      <label>Ship Name: </label><input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
      <label>Ship Type: </label><input type="text" name="pirate[ships][][type]"><br>
      <label>Ship Booty: </label><input type="text" name="pirate[ships][][booty]"><br>
      <label>Ship Name: </label><input type="text" name="pirate[ships][][name]"><br>
      <label>Ship Type: </label><input type="text" name="pirate[ships][][type]"><br>
      <label>Ship Booty: </label><input type="text" name="pirate[ships][][booty]"><br>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
